
/* 
.AppGlass {
  display: grid;
  height: 97%;
  width: 97%;
  border-radius: 2rem;
  background-color: var(--glass);
  overflow: hidden;
  grid-template-columns: 11rem auto 20rem;
  gap: 10px
}

@media screen and (max-width: 1200px) {
  .AppGlass{
    grid-template-columns: 10% 50% auto;
    overflow-y: scroll;
  } 
}

@media screen and (max-width: 768px) {
  .AppGlass{
    grid-template-columns: 1fr;
  } 
} */

.dashboard-layout {
  min-height: 100vh;
  min-width: 90vh;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.ant-layout-sider .ant-layout-sider-children{
  background: linear-gradient(
    106.37deg,
    #ffe1bc 29.63%,
    #ffcfd1 51.55%,
    #f3c6f1 90.85%
  );
}

.affix{
  background: linear-gradient(
    106.37deg,
    #ffe1bc 29.63%,
    #ffcfd1 51.55%,
    #f3c6f1 90.85%
  );
}

.sider {
  z-index: 100;
  min-height: 90vh;
  background: #fff;
  box-shadow: 
  0 10px 16px 0 rgba(0, 0, 0, 0.2), 
  0px 0px 0px 0 rgba(0, 0, 0, 0.19) !important;
}

.sider-collaps {
  background: linear-gradient(
    106.37deg,
    #ffe1bc 29.63%,
    #ffcfd1 51.55%,
    #f3c6f1 90.85%
  );
}

.site-layout-background {
  background: linear-gradient(
    106.37deg,
    #ffe1bc 29.63%,
    #ffcfd1 51.55%,
    #f3c6f1 90.85%
  );
}

.layoutContent .customPageHeader {
  padding: 5px 24px;
  margin-bottom: 10px;
}

.layoutContent .ant-layout-content{
  padding: 12px 24px;
}